[Unit]
Description=Run python web server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/vagrant/python_webserver/web_server.py
WorkingDirectory=/home/vagrant/python_webserver
Restart=no
User=vagrant

[Install]
WantedBy=default.target
